.spinner {
  width: 7%;
  height: auto;
  animation: rotation 0.4s infinite linear;
}

.spinner-container {
  padding-top: 15%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
